.nav-container {
  height: 10vh;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 10% 0 10%;
  border: 2px solid red;
}

.countries {
  padding-right: 15px;
}